/* Resource file for AOKTS */

#include "resource.h"

#define WINVER 0x0400
#include <Winresrc.h>
#define IDC_STATIC -1

IDD_ABOUT DIALOG DISCARDABLE 0, 0, 235, 65
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About"
FONT 8, "MS Sans Serif"
BEGIN
	LTEXT		"AOK Trigger Studio\nby David Tombs (DiGiT)\ncyan.spam@gmail.com\nVersion 1.0.3.10  [   http://goo.gl/BTYOSh   ]\nUpdated by E/X mantis",IDC_STATIC,46,13,150,42
	PUSHBUTTON	"OK",1,178,7,50,14,BS_DEFPUSHBUTTON
	CONTROL	IDB_LOGO,IDC_STATIC,"Static",SS_BITMAP,7,14,0,0
END

/////////////////////////////////////////////////////////////////////////////
// Icon

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_LOGO	ICON	DISCARDABLE	"res/aokts.ico"
